[Unit]
Description="Enable power saving for Intel sound cards using the 'snd_hda_intel' kernel driver."

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/bin/sh -c 'set -eu; echo 1 > /sys/module/snd_hda_intel/parameters/power_save; exit 0'
