[Unit]
Description="(Timer) Enable power saving for Intel sound cards using the 'snd_hda_intel' kernel driver."

[Timer]
OnCalendar=*:0/30
OnBootSec=30
Persistent=true

[Install]
WantedBy=timers.target
