# Copy this file into '/etc/systemd/system'.

[Unit]
Description="Enable power saving for Intel sound cards using the 'snd_hda_intel' kernel driver."

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo 1 > /sys/module/snd_hda_intel/parameters/power_save'
