# Enable auto-suspend for the 'ASUSTek Computer, Inc. N-KEY Device'.
# Check the below link for more information -
# https://wiki.archlinux.org/title/Power_management#USB_autosuspend
ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{idVendor}=="0b05", ATTR{idProduct}=="19b6", ATTR{power/control}="auto"