# Cap the battery charging to '80%' to prolong the battery lifespan.
# This will only work on ASUS laptops but will not cause problems on other vendors' products.
# Check the below link for more information -
# https://wiki.archlinux.org/title/Laptop/ASUS#udev_rule
ACTION=="add", KERNEL=="asus-nb-wmi", RUN+="/bin/bash -c 'echo 80 > /sys/class/power_supply/BAT?/charge_control_end_threshold'"