# Enable auto-suspend for the 'ASUSTek Computer, Inc. N-KEY Device'.
# Check the below link for more information -
# https://wiki.archlinux.org/title/Power_management#USB_autosuspend
SUBSYSTEM=="usb", TEST=="power/control", ATTR{idVendor}=="0b05", ATTR{idProduct}=="19b6", ATTR{power/control}="auto"

# Enable auto-suspend for the 'Logitech, Inc. Logi Bolt Receiver'.
# Check the below link for more information -
# https://wiki.archlinux.org/title/Power_management#USB_autosuspend
SUBSYSTEM=="usb", TEST=="power/control", ATTR{idVendor}=="046d", ATTR{idProduct}=="c548", ATTR{power/control}="auto"

# Enable auto-suspend for the 'USB device Ultra [SanDisk]'.
# Check the below link for more information -
# https://wiki.archlinux.org/title/Power_management#USB_autosuspend
SUBSYSTEM=="usb", TEST=="power/control", ATTR{idVendor}=="0781", ATTR{idProduct}=="558a", ATTR{power/control}="auto"
